.file{
    display: flex;
    max-width: 14rem;
    padding: .25rem;
}.download{
    cursor: pointer;
    margin-left: .5rem;
    color: black;
}
.download:hover{
    transition: 0.2s;
    color: white;
}
.text{
    margin-top: auto;
    margin-bottom: auto;
}