.componentWrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #6B7B89;
  border-radius: 15px;
  padding: 20px;
  color: white;
}
p{
  font-size: 20px;
}
.editProfile {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 5fr 20fr;
  grid-gap: 10px;
}
.leftContainer{
  background-color: rgb(155, 155, 155);
  border-radius: 15px;
}

.submitPhotoBtn{
  margin-top: 2%;
  padding: 10px;
  background-color: #6B7B89;;
    border-radius: 10px;
    border:none;
}
.submitPhotoBtn:hover{
  transition: 0.2s;
  border-radius: 15px;
  cursor: pointer;
}
.submitPhotoBtn p {
  margin: 0;
  padding: 0;
}
.submitPhotoBtn p:hover{
  transition: 0.2s;
  color: white;
}
.nameContainer{
  display:flex;
  gap: 10px;
}

.editField {
  margin-bottom: 20px;
}
.input{
  font-size: large;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.editField p {
  color: white;
}

.newPhoto {
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}
.submitBtn{
  margin-top: 2%;
  padding: 10px;
  background-color: rgb(155, 155, 155);
    border-radius: 10px;
    border:none;

}
.submitBtn:hover{
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.submitBtn p{
  margin: 0;
  padding: 0;
}
.submitBtn p:hover{
  color: white;
  transition: 0.2s;
}
.textArea{
  resize: none;
  width: 80%;
  height: 350px;
  border-radius: 10px;
  border: none;
  padding: 10px; 
}
@media (min-width: 320px)and (max-width: 768px) {
  .editProfile{
    display: block;
  }
  .nameContainer{
    display:block;
  }
  }
  .image{
    max-width: 300px;
    max-height: 250px;
  }