.componentWrapper{
    width: 32%;
    height: 32%;
}
.avatar img{
    display: block;
    width:85%;
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
    background: gray;
    border-radius: 50%;
}