.dislike-button {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;

    color: #fff;
    background: #292C34;
    border-radius: 30px;
    cursor: pointer;
  }

  
  .dislike-button.disliked {
    background-color: black;
  }
  .main{
    margin-left: 1rem;
    display: flex;
    padding: .25rem 0;
  }.counter{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .5rem;
  }