.componentWrapper{
    padding: 15px;
    display: grid;
    grid-template-columns: 12fr 5fr;
    gap: 15px;
}
.secondContainer{

}
@media (min-width: 320px)and (max-width: 768px) {
.componentWrapper{
    display: block;
    
}
}