.header{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  grid-area: h;
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

.title {
  text-align: center;
  margin: 0 auto;
  color: rgb(0, 255, 255);
  text-shadow: 1px 1px 1px #000;
}

.logoutContainer {
  margin-left: auto;
  margin: 0;
  padding: 10px ;
}



