.header{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  grid-area: h;
  background-color: #000;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.header h1{
  display: inline;
  margin-top: 1%;
  color: rgb(0, 255, 255);
  text-shadow: 1px 1px 1px #000;
}
.header button{
  display: inline;
  position: relative;
  margin-right: 1.6%;
  margin-top: 1.6%;
  float: right;
  color: red;
}
