.nav{
  grid-area: n;
  background-color: rgb(155, 155, 155);
  border-bottom-left-radius: 15px;
  
}
.item a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #D9D9D9;
}

.items{
  margin-top: 5%;
  margin-left: 10%;
  
}
@media (min-width: 320px) and (max-width: 768px) {
  .nav{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    
  }
  .items{
    font-size: small;
    display: flex;
    gap:1%;
  }
  .person{
    display: none;
  }

  }