.button{
    width: 90%;
    background: #6B7B89;
    border-radius: 10px;
    padding: 15px;
    border: none;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 5%;
    cursor: pointer;
}

.button:hover{
    background: #FFFFFF;
    color: black;
}