.componentWrapper{
    width: 100%;
    margin: 0 auto;
}
.registrationTitle{
    text-align: center;
    color: #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.registration{
    padding: 15px;
}
.regItem label{
    border-radius: 10px;
}
.button{
    text-align: center;
    border: none;
	outline: none;
}
.button button{
    color: #f1f1f1  ;
    border-radius: 10px;
    border: none;
	outline: none;
    background-color: rgb(155, 155, 155);
    width: 25%;
}
.button button:hover{
    transition: 0.3s;
    border-radius: 15px;
    border-radius: 15px;
	filter: drop-shadow(0 0 5px #61dafb);
    cursor: pointer;
}
.label {
  color: white;
  padding: 8px;
  
}
.button p:hover{
    color: #61dafb;
    transition: 0.3s;
}


  input[type=text], input[type=password], input[type=email]  {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
