.content{
    grid-area: c;
    background-color: rgb(116, 23, 255);
}
.dialogs{
    padding: 5px;
    margin-left: 2%;
    width: 95%;
    border-radius: 15px;
    background-color: slategrey;
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs:hover{
    filter: drop-shadow(5px 5px #b820ff);
}
.dialogsItems{
    padding: 10px;
}
.dialogsItems .active{
    color: rgb(255, 255, 255);
}
.title{
    margin-left: 35%;
}
.messages{
    padding: 10px;
}
a{
    text-decoration: none;
}