.componentWrapper{
    border-radius: .5rem;
    padding: .75rem;
    display: grid;
    background-color: #6c6c6c;
    box-shadow: 0 0 0 var(--thin-border) var(--separator_common);
    grid-template-rows: 3rem auto;
    grid-template-columns: 1fr;
    margin: 2rem;
}.title{
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}.text{
    font-size: 1rem;
}.images,.imagesMany{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr));
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 85%;
}.images>img{
    display: inline-block;
    width: 100%;
    max-height: min-content;
}.imagesMany>img{
    display: inline-block;
    width: 50%;
    max-height: min-content;
}